<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Support Forum</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div>
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Support Forum</a>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Forum" asp-action="Index">Forums</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                    Settings
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li role="separator" class="dropdown-divider"></li>
                                    <li class="dropdown-header"> Profile</li>
                                    <li><a asp-controller="Profile" asp-action="Detail">My Profile</a></li>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li role="separator" class="dropdown-divider"></li>
                                        <li class="dropdown-header">Admin</li>
                                        <li><a asp-controller="Forum" asp-action="Create">Create Forums</a></li>
                                        <li><a asp-controller="Profile" asp-action="Index">Views Users</a></li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                    @*@if (!SignInManager.IsSignedIn(User))
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li><a asp-controller="Account" asp-action="Login">Sign In</a></li>
                            <li class="active">
                                <a asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                        </ul>
                    }
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <form asp-controller="Account" asp-action="Logout" method="post"
                              class="navbar">

                            <ul class="nav navbar-nav navbar-right">
                                <li>Hello @UserManager.GetUserName(User)</li>
                                <li><a asp-controller="Account" asp-action="Logout">Logout</a></li>
                            </ul>
                        </form>
                    }*@
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - SupportForum
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
